{% extends 'baseEn.html.twig' %}

{% block body %}
    <div class="mo-breadcrumbs">
        <div class="container">
            <header>
                <h1>Book appointments</h1>
            </header>
        </div>
    </div>

    <div class="container">
        <div id="smartwizard">

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#step-1">
                        First Step
                        <p>Choose a day</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-2">
                        Second Step
                        <p>Select a time slot</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#step-3">
                        Third Step
                        <p>Enter your information</p>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <div id="calendar-holder"></div>
                </div>
                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <div class="content">
                        <div class="container">

                            <div class="row">
                                <div class="col-12">


                                    <!-- Schedule Widget -->
                                    <div class="card booking-schedule schedule-widget">

                                        <!-- Schedule Content -->
                                        <div class="schedule-cont">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <!-- Time Slot -->
                                                    <div class="time-slot">
                                                        <ul class="clearfix">
                                                            <li>
                                                                <a class="timing" href="#" data-time="08:00:00">
                                                                    <span>08:00</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="10:30:00">
                                                                    <span>10:30</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="14:00:00">
                                                                    <span>14:00</span> <span>AM</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="timing" href="#" data-time="08:30:00">
                                                                    <span>08:30</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="11:00:00">
                                                                    <span>11:00</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="14:30:00">
                                                                    <span>14:30</span> <span>AM</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="timing" href="#" data-time="09:00:00">
                                                                    <span>9:00</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="11:30:00">
                                                                    <span>11:30</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="15:00:00">
                                                                    <span>15:00</span> <span>AM</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="timing" href="#" data-time="09:30:00">
                                                                    <span>9:30</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="13:00:00">
                                                                    <span>13:00</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="#" data-time="15:30:00">
                                                                    <span>15:30</span> <span>AM</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="timing" href="#" data-time="10:00:00">
                                                                    <span>10:00</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="" data-time="13:30:00">
                                                                    <span>13:30</span> <span>AM</span>
                                                                </a>
                                                                <a class="timing" href="" data-time="16:00:00">
                                                                    <span>16:00</span> <span>AM</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- /Time Slot -->

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Schedule Content -->

                                    </div>
                                    <!-- /Schedule Widget -->
                                    <!-- /Submit Section -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    {{ include('booking/_form_en.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html Start -->
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div id="pdf" class="modal-body text-center font-18">
                    <img class="img-responsive" src="{{ asset('assets/images/header.png') }}" style="max-width: 1140px"
                         alt="">
                    <div>
                        <h1 class="text-center mb-5" style="color:red;">Reservation Information</h1>
                        <table class="table text-left" style="font-size: 20px">
                            <tbody>
                            <tr>
                                <td scope="row">Name</td>
                                <td id="fullName"></td>
                            </tr>
                            <tr>
                                <td scope="row">Civil Number</td>
                                <td id="civilNumber"></td>
                            </tr>
                            <tr>
                                <td scope="row">Email</td>
                                <td id="email"></td>
                            </tr>
                            <tr>
                                <td scope="row">Phone</td>
                                <td id="phone"></td>
                            </tr>
                            <tr>
                                <td scope="row">Booking Date</td>
                                <td id="date"></td>
                            </tr>
                            <tr>
                                <td scope="row">Booking Time</td>
                                <td id="time"></td>
                            </tr>
                            <tr>
                                <td scope="row">Booking Reason</td>
                                <td id="visit"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="submit" type="button" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html End -->

    <!-- success Popup html Start -->
    <div class="modal fade" id="success-modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Booking successful!</h3>
                    <div class="mb-30 text-center"><img src="{{ asset('assets/admin/images/success.png') }}"></div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Booked</button>
                </div>
            </div>
        </div>
    </div>
    <!-- success Popup html End -->

    <!-- Failed Popup html Start -->
    <div class="modal fade" id="failed-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Updated Failed!</h3>
                    <div class="mb-30 text-center"><img src="{{ asset('assets/admin/images/failed.png') }}"></div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Failed Popup html End -->

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <style>
        .img-responsive {
            width: 100%;
            height: auto;
        }
        .schedule-widget {
            border-radius: 4px;
            min-height: 100px;
        }

        .schedule-header h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 3px 0 0;
        }

        .schedule-header {
            border-bottom: 1px solid #f0f0f0;
            border-radius: 4px 4px 0 0;
            padding: 10px 20px;
        }

        .day-slot ul {
            float: left;
            list-style: none;
            margin-bottom: 0;
            margin-left: -5px;
            margin-right: -5px;
            padding: 0;
            position: relative;
            width: 100%;
        }

        .day-slot li {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            width: 14.28%;
        }

        .day-slot li span {
            display: block;
            font-size: 18px;
            text-transform: uppercase;
        }

        .day-slot li span.slot-date {
            display: block;
            color: #757575;
            font-size: 14px;
        }

        .day-slot li small.slot-year {
            color: #757575;
            font-size: 14px;
        }

        .day-slot li.left-arrow {
            left: 0;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 20px !important;
            transform: translateY(-50%);
        }

        .day-slot li.right-arrow {
            right: -11px;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 20px !important;
            transform: translateY(-50%);
        }

        .schedule-cont {
            padding: 20px;
        }

        .time-slot ul {
            list-style: none;
            margin-right: -5px;
            margin-left: -5px;
            margin-bottom: 0;
            padding: 0;
        }

        .time-slot li {
            float: right;
            padding-left: 5px;
            padding-right: 5px;
            width: 19%;
        }

        .time-slot li .timing {
            background-color: #e9e9e9;
            border: 1px solid #e9e9e9;
            border-radius: 3px;
            color: #757575;
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
            padding: 5px 5px;
            text-align: center;
            position: relative;
        }

        .time-slot li .timing:hover {
            background-color: #fff;
        }

        .time-slot li .timing:last-child {
            margin-bottom: 0;
        }

        .time-slot li .timing.selected {
            background-color: #42c0fb;
            border: 1px solid #42c0fb;
            color: #fff;
        }

        .time-slot li .timing.selected::before {
            color: #fff;
            content: "\f00c";
            font-size: 12px;
            font-weight: 900;
            position: absolute;
            right: 6px;
            top: 6px;
        }

        .schedule-list {
            border-bottom: 1px solid #cfcfcf;
            margin-bottom: 50px;
            padding-bottom: 50px;
        }

        .schedule-list:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .submit-section.proceed-btn {
            margin: 0 0 30px;
        }

        a[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }
    </style>
    <style>
        .fc-highli {
            background-color: #30ea5f !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/calendar/moment.js') }}"></script>
    <script src="{{ asset('assets/js/calendar/main.min.js') }}"></script>
    <script src="{{ asset('assets/js/calendar/main.min_2.js') }}"></script>
    <script src="{{ asset('assets/js/calendar/main.min_3.js') }}"></script>
    <script src="{{ asset('assets/js/calendar/main.min_4.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            let calendarEl = document.getElementById('calendar-holder');
            let dat = null;
            let time = null;
            let civilNumber = '';
            let fullName = '';
            let email = '';
            let phone = '';
            let visit = '';
            const smartWizard = $("#smartwizard")
            const successModal = $('#success-modal')
            let dataSent = {};
            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
                defaultView: 'dayGridMonth',
                locale: 'en',
                selectable: true,
                timeZone: 'UTC',
                hiddenDays: [5, 6],
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: null
                },
                // events: [
                //     {
                //         start: "2020-08-18",
                //         end: "2020-08-18",
                //         selectable: false,
                //         color: 'red',
                //         rendering: 'background',
                //         //dow: [1],
                //     },
                // ],
                dateClick: function (info) {
                    dat = info.dateStr;
                    let days = document.querySelectorAll(".fc-highli");
                    days.forEach(function (day) {
                        day.classList.remove("fc-highli");
                    });
                    if (moment(dat) > moment()) {
                        info.dayEl.classList.add("fc-highli");
                    } else {
                        dat = null;
                    }
                },
                selectConstraint: {
                    start: moment().add(1, 'days').format('YYYY-MM-DD'),
                    end: '2100-01-01', // hard coded goodness unfortunately
                }
            });
            calendar.render();
            let btnFinish = $('<button id="btnFinish" disabled></button>').text('Confirm').addClass('btn btn-info btn-fnsh').on('click', function () {
                if (dat === undefined || time === undefined) {
                    return null;
                }
                const form = new FormData(document.querySelector('form'));
                form.forEach((value, key) => {
                    dataSent[key] = value;
                });
                if (!validate_form(dataSent))
                    return;
                successModal.on('show.bs.modal', function (e) {
                    civilNumber = dataSent['booking[civilNumber]']
                    fullName = dataSent['booking[fullName]']
                    email = dataSent['booking[email]']
                    phone = dataSent['booking[phone]']
                    visit = dataSent['booking[visit]']
                    $('#civilNumber').text(civilNumber)
                    $('#fullName').text(fullName)
                    $('#email').text(email)
                    $('#phone').text(phone)
                    $('#visit').text(visit)
                    $('#date').text(dat)
                    $('#time').text(time)
                })
                successModal.modal('show');
            });
            smartWizard.on("leaveStep", function (e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {
                if (nextStepIndex === 1 && stepDirection === 'forward') {
                    if (dat === undefined || dat === null) {
                        alert('Please choose a day')
                        return false
                    }
                }

                if (nextStepIndex === 2 && stepDirection === 'forward') {
                    if (time === undefined || time === null) {
                        alert('Please select a time slot')
                        return false
                    }
                }

                if (nextStepIndex === 0) {
                    document.querySelectorAll('.timing').forEach(a => {

                        if (a.hasAttribute('disabled')) {
                            a.removeAttribute('disabled');
                        }
                        if (a.classList.contains('selected')) {
                            a.classList.remove('selected')
                        }
                        time = null
                    })
                }
            });
            smartWizard.on("stepContent", function (e, anchorObject, stepIndex, stepDirection) {
                if (stepIndex === 1 && stepDirection === 'forward') {
                    const params = new URLSearchParams();
                    params.append('date', dat.toString())
                    let url = '{{ path('check.schedule') }}' + '?' + params.toString()
                    loadUrl(url, 'GET', smartWizard);
                }
            });
            smartWizard.on("showStep", function (e, anchorObject, stepIndex, stepDirection) {
                document.getElementById('btnFinish').disabled = !(stepIndex === 1 && stepDirection === 'forward');
            });
            smartWizard.smartWizard({
                selected: 0, // Initial selected step, 0 = first step
                theme: 'default', // theme for the wizard, related css need to include for other than default theme
                justified: true, // Nav menu justification. true/false
                darkMode: false, // Enable/disable Dark Mode if the theme supports. true/false
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                enableURLhash: true, // Enable selection of the step based on url hash
                transition: {
                    animation: 'none', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
                    speed: '400', // Transion animation speed
                    easing: '' // Transition animation easing. Not supported without a jQuery easing plugin
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right, center
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true,
                    toolbarExtraButtons: [btnFinish]
                },
                anchorSettings: {
                    anchorClickable: false, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // Add done state on navigation
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                keyboardSettings: {
                    keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                    keyLeft: [37], // Left key code
                    keyRight: [39] // Right key code
                },
                lang: { // Language variables for button
                    next: 'Next',
                    previous: 'Previous',
                },
                onFinish: function () {
                    alert('finish');
                },
                enableFinishButton: true,
                disabledSteps: [], // Array Steps disabled
                errorSteps: [], // Highlight step with errors
                hiddenSteps: [] // Hidden steps
            });

            const options = {
                margin: 0.3,
                filename: 'booking.pdf',
                image: {
                    type: 'jpeg',
                    quality: 0.98
                },
                html2canvas: {
                    scale: 2
                },
                jsPDF: {
                    unit: 'in',
                    format: 'a4',
                    orientation: 'portrait'
                }
            }
            $('#submit').click(function (e) {
                e.preventDefault();
                var objstr = '<img class="img-responsive" src="/assets/images/header.png" style="max-width: 1140px" alt=""><div><h1 class="text-center mb-5" style="color:red;">Reservation Information</h1>' +
                    '<table class="table" style="font-size: 20px"><tbody><tr><td scope="row">Full Name</td><td>' + fullName + '</td></tr><tr><td scope="row">Civil No</td><td >' + civilNumber + '</td></tr>' +
                    '<tr><td scope="row">Email</td><td>' + email + '</td></tr><tr><td scope="row">Phone</td><td>' + phone + '</td></tr><tr><td scope="row">Date</td><td>' + dat + '</td></tr>' +
                    '<tr><td scope="row">Time</td><td>' + time + '</td></tr><tr><td scope="row">Reason</td><td>' + visit + '</td></tr></tbody></table></div>'
                var strr = '<html><head><title>booking</title>';
                strr += '</head><body>';
                strr += '<div style="border:0.1rem solid #ccc!important;padding:0.5rem 1.5rem 0.5rem 1.5rem;margin-top:1.5rem">' + objstr + '</div>';
                strr += '</body></html>';
                html2pdf().from(strr).set(options).save();
                const params = new URLSearchParams();
                params.append('date', dat.toString());
                params.append('time', time.toString());
                successModal.modal('hide');
                let url = '{{ path('add.schedule') }}' + '?' + params.toString()
                loadUrl(url, 'POST', smartWizard).then(function (value) {
                    if (value['response']) {
                        $('#success-modal2').modal('show');
                        // TODO: go back to first step
                    } else {
                        $('#failed-modal').modal('show');
                    }
                    $('#success-modal2').on('hidden.bs.modal', function (e) {
                        location.replace("/en")
                    })
                });
            });

            document.querySelectorAll('.timing').forEach(a => {
                a.addEventListener('click', e => {
                    e.preventDefault();
                    if (!a.hasAttribute('disabled')) {
                        document.querySelectorAll('.timing').forEach(a => {
                            if (a.classList.contains('selected'))
                                a.classList.remove('selected')
                        })
                        a.classList.toggle('selected')
                        time = a.dataset.time;
                    }
                })
            })

            function validate_form(dataSent) {
                let valid = true;

                if (dataSent['booking[civilNumber]'] === "") {
                    alert("Please enter your civil number");
                    valid = false;
                }
                if (dataSent['booking[fullName]'] === "") {
                    alert("Please enter the full name");
                    valid = false;
                }

                function isEmail(string) {
                    if (string.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) !== -1)
                        return true;
                    else
                        return false;
                }

                if (!isEmail(dataSent['booking[email]'])) {
                    alert("Please enter a valid email");
                    valid = false;
                }
                if (dataSent['booking[phone]'] === "") {
                    alert("Please enter the phone number");
                    valid = false;
                }

                if (dataSent['booking[visit]'] === "") {
                    alert("Please enter the reason for the visit");
                    valid = false;
                }

                return valid;
            }
        });

        async function loadUrl(url, method = 'GET', smartWizard) {
            let dataSent = {};
            let init = {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            };
            if (method === 'POST') {
                const form = new FormData(document.querySelector('form'));
                form.forEach((value, key) => {
                    dataSent[key] = value;
                });
                init = {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataSent)
                };
            }

            smartWizard.smartWizard("loader", "show");
            try {
                const request = new Request(url, init);
                const response = await fetch(request);
                if (response.status >= 200 && response.status < 300) {
                    const res = await response.text();
                    const data = JSON.parse(res);

                    if (data != null) {
                        if (data['response'] === 'check') {
                            let arr = data['array']
                            for (let i = 0; i < arr.length; i++) {
                                document.querySelectorAll('.timing').forEach(a => {

                                    if (a.dataset.time === arr[i]) {
                                        a.setAttribute('disabled', '');
                                    }
                                })
                            }
                        } else {
                            return {'response': true, 'data': dataSent}
                        }
                    }
                    smartWizard.smartWizard("loader", "hide");
                } else {
                    console.error(response);
                    smartWizard.smartWizard("loader", "hide");
                    return {'response': false}
                }
            } catch (err) {
                console.log('err', err)
            }
        }
    </script>
{% endblock %}
