{% extends 'base.html.twig' %}
{% block body %}
    <div class="container fp-slider">
        <div id="carousel-example-generic" class="carousel slide fp-slider" data-ride="carousel" data-wrap="false"
             data-pause="hover">
            <div class="carousel-inner">
                {{ include('includes/_slider.html.twig') }}
                <a class="left carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="prev">&nbsp;<span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="next">&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div id="main" class="wrap container mo-background" role="document">

        <div class="content row js-filter">
            <main class="main">
                <div class="mo-page-content homepage-tp">
                    <div class="mo-front-page">
                        <div class="mo-home-widgets">
                            <div class="mo-frontpage-widgets widget text-5 widget_text">
                                <div class="textwidget">
                                    <div class="mo-flipbox">
                                        <a href="{{ path('document') }}" class="flipbox-href">
                                            <div class="mo-flipbox-front">
                                                <i class="fa fa-file-o fa-lg"></i>
                                                <p>وثائق مهمة</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mo-flipbox"><a href="{{ path('booking.appointments')}}" class="flipbox-href">
                                            <div class="mo-flipbox-front"><i class="fa fa-calendar fa-lg"></i>
                                                <p>حجز المواعيد</p>
                                            </div>
                                        </a></div>
                                    <div class="mo-flipbox"><a href="#" class="flipbox-href">
                                            <div class="mo-flipbox-front"><i class="fa fa-map-signs fa-lg"></i>
                                                <p>إرشادات ونصائح مفيدة</p>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: #E6E6E6;padding:10px">
                            <h1 class="text-center">الأخبار</h1>
                            <div class="blogrollcontent mainroll js-filter-content">

                                {{ include('includes/_articles.html.twig') }}

                            </div>

                            {{ include('includes/_more.html.twig') }}

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div><!-- /.content -->
    <!-- /.wrap -->
    {% if popup.isShow and popup.fileName != null %}
        <div id="a45514b7c75ebf9f752e88a6fca5e7f55" class="wdpu-container wdpu-background no-img buttons style-simple rounded wdpu-8112 no-title no-subtitle">
        <div class="resize wdpu-msg move no-move-x" style="display: block; top: 10px;">
            <a href="#" class="wdpu-close" title="Close this box"></a>
            <div class="wdpu-msg-inner resize">
                <div class="wdpu-text">
                    <div class="wdpu-inner ">
                        <div class="wdpu-head">
                            <div class="wdpu-title"></div>
                            <div class="wdpu-subtitle"></div> </div>
                        <div class="wdpu-content">
                            <p>
                                <a href="{{ vich_uploader_asset(popup, 'imageFile') }}" target="_blank">
                                    <img class="aligncenter size-full wp-image-8115" src="{{ vich_uploader_asset(popup, 'imageFile') }}" alt="أعلان" width="906" height="1280"></a>
                            </p>
                            <span class="mpp-after-post-content"></span>
                        </div> </div>
{#                    <div class="wdpu-buttons">#}
{#                        <a href="#" class="wdpu-hide-forever">Never see this message again.</a>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        document.querySelector('#a45514b7c75ebf9f752e88a6fca5e7f55 .wdpu-close').addEventListener('click', function(e){
            document.querySelector('#a45514b7c75ebf9f752e88a6fca5e7f55').remove();
        });
    </script>
    <script>
        var pagination = document.querySelector('.js-filter-pagination');
        var content = document.querySelector('.js-filter-content');
        var page = parseInt(new URLSearchParams(window.location.search).get('page') || 1);
        var moreNav =  page === 1;
         bindEvents();

        function bindEvents() {
            const aClickListener = e => {
                if (e.target.tagName === 'A') {
                    e.preventDefault()
                    this.loadUrl(e.target.getAttribute('href'))
                }
            };
            if (moreNav) {
                pagination.innerHTML = '<button style="border:none" data-page="1">إقرأ المزيد <br>∨</button>';
                pagination.querySelector('button').addEventListener('click', loadMore.bind())
            } else {
                pagination.addEventListener('click', aClickListener)
            }
        }



         async function loadMore() {
             console.log('moreNav')
            const button = pagination.querySelector('button');
            button.setAttribute('disabled', 'disabled');
            page++;
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);
            params.set('page', page.toString());
            await loadUrl(url.pathname + '?' + params.toString(), true);
            button.removeAttribute('disabled');
        }

        async function loadUrl(url, append = false) {
            const params = new URLSearchParams(url.split('?')[1] || '');
            params.set('ajax', '1');
            const response = await fetch(url.split('?')[0] + '?' + params.toString(), {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            });
            if (response.status >= 200 && response.status < 300) {
                const data = await response.json();

                content.innerHTML += data.content
                if (!moreNav) {
                    pagination.innerHTML = data.pagination;
                } else if (page === data.pages) {
                    pagination.style.display = 'none';
                } else {
                    pagination.style.display = null;
                }
                params.delete('ajax');
                history.replaceState({}, '', url.split('?')[0] + '?' + params.toString());
            } else {
                console.error(response);
            }
        }
    </script>
{% endblock %}