{{ form_start(form, {'attr':{'class': 'needs-validation', 'onsubmit': 'setFormSubmitting()'}}) }}
<div class="form-row">
    <div class="col-md-6 form-group">
        <label for="">الاسم و اللقب</label>
        {{ form_widget(form.fullName, {'attr':{'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 form-group">
        <label for="">الرقم المدني</label>
        {{ form_widget(form.civilNumber, {'attr':{'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-row">
    <div class="col-md-6 form-group">
        <label for="">الايميل</label>
        {{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 form-group">
        <label for="">الهاتف</label>
        {{ form_widget(form.phone, {'attr':{'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-row">
<div class="form-group">
        <label for="">سبب الزيارة</label>
        {{ form_widget(form.visit, {'attr':{'class': 'form-control'}}) }}
</div>
</div>
{{ form_end(form) }}

<script>
    var a, formSubmitting = false;
    var c = "{{ app.request.uri ~ '#step-1' }}"
    var setFormSubmitting = function() { formSubmitting = true; };

    window.onload = function() {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmitting) {
                return undefined;
            }
                debugger
            var confirmationMessage = 'It looks like you have been editing something. '
                + 'If you leave before saving, your changes will be lost.';
            (e || window.event).returnValue = confirmationMessage;

            return confirmationMessage;
        });
        window.location.replace(c);
    };
</script>
{#<script>#}
{#    var a, formSubmitting = false;#}
{#    var c = "https://localhost:8000/booking-appointments#step-1"#}
{#    var setFormSubmitting = function() { formSubmitting = true; };#}

{#    window.onload = function() {#}
{#        window.addEventListener("beforeunload", function (e) {#}
{#            if (formSubmitting) {#}
{#                return undefined;#}
{#            }#}
{#            a = setTimeout(function () {#}
{#                formSubmitting = true;#}
{#                window.location.href = c;#}
{#                c = "https://localhost:8000/booking-appointments#step-1";#}
{#                console.log(c);#}
{#            }, 500);#}
{#            return "Do you really want to leave now?";#}
{#        });#}
{#    };#}
{#    window.onunload = function () {#}
{#        clearTimeout(a);#}
{#    }#}
{#</script>#}
