{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ booking.fullName }}</td>
            </tr>
            <tr>
                <th>CivilNumber</th>
                <td>{{ booking.civilNumber }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ booking.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ booking.email }}</td>
            </tr>
            <tr>
                <th>Visit</th>
                <td>{{ booking.visit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">back to list</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
